<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entertainment Everyday | Author</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/layout.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

    <script th:src="@{/tinymce/tinymce.min.js}"></script>

    <script type="text/javascript" th:src="@{/validationscripts/publication.js}"></script>

    <script>
        tinymce.init({
            selector: "textarea#articleContent",
            theme: "modern",
            width: "100%",
            height: 300,
            fontsize_formats: "8pt 10pt 12pt 14pt 18pt 24pt 36pt",
            plugins: [
                "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "save table contextmenu directionality emoticons template paste textcolor"
            ],
            content_css: "/tinymce/content.css",
            toolbar: "insertfile undo redo | " +
            "styleselect | sizeselect | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | " +
            "bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
            style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
            ],
            onchange_callback: function(editor) {
                tinyMCE.triggerSave();
                $("#" + editor.id).valid();
            }
        });
    </script>
</head>
<body>
<div id="container">
    <div id="header">
        <a th:href="@{/}" class="title">
            <span class="header-text">Entertainment Everyday</span>
        </a><br />
    </div>

    <div id="admincontent">
        <br /><br /><h1 align="center">Add New Article</h1><br /><br />

        <div align="right">
            <b>Author ID: </b><span th:text="${author.authorId}" style="color:green;"></span><br /><br />

            <form th:action="@{/logout}" method="post">
                <span th:text="${author.firstName} + ' ' + ${author.middleName} + ' ' + ${author.lastName}"></span>
                <input type="submit" value="SIGN OUT" />
            </form>
        </div><br /><br />

        <form th:action="@{/author}" th:object="${article}" id="addarticle" method="post">
            <label>
                Publication date: <br />
                <input type="date" th:field="*{publicationDate}" /><br /><br /><br />
            </label>

            <label>Category:<br />
                <select name="category" th:field="*{categoryId}">
                    <option value="2">TV &amp; Movies: TV Shows</option>
                    <option value="3">TV &amp; Movies: Movies</option>
                    <option value="5">Food &amp; Drinks: Food</option>
                    <option value="6">Food &amp; Drinks: Drinks</option>
                    <option value="7">Food &amp; Drinks: Health</option>
                    <option value="8">Food &amp; Drinks: Quick Recipes</option>
                    <option value="10">Video &amp; Gaming: Viral Videos</option>
                    <option value="11">Video &amp; Gaming: Gaming</option>
                    <option value="13">Books: Best Sellers</option>
                    <option value="14">Books: Top</option>
                </select><br /><br />
            </label>

            <label>Main image URL:<br />
                <input type="text" th:field="*{mainImageUrl}" /><br /><br /><br />
            </label>

            <label>Title:<br />
                <input type="text" th:field="*{title}" /><br /><br /><br />
            </label>

            <label>Short title:<br />
                <input type="text" th:field="*{shortTitledId}" /><br /><br /><br />
            </label>

            <label>Extract:<br />
                <textarea maxlength="512" th:field="*{articleExtract}"></textarea><br /><br /><br />
            </label>

            <label>
                <textarea th:field="*{articleContent}"></textarea><br /><br /><br />
            </label>

            <div align="center">
                <input type="submit" name="articlePublication" value="PUBLISH" class="publication" /><br />
            </div>
        </form>

        <br/><br/><hr /><br /><br />

        <form th:action="@{/author}" th:object="${sliderArticle}" id="sliderArticlePublicationForm" method="post">
            <label>Short titled id:<br />
                <input type="text" th:field="*{shortTitledId}" />
            </label><br /><br />

            <div align="center">
                <input type="submit" name="sliderArticlePublication" value="ADD TO SLIDER" class="publication" />
            </div>
        </form><br /><br /><br />
    </div>

    <div th:include="base :: footer"></div>
</div>
</body>
</html>