<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entertainment Everyday | Home</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{flexslider/flexslider.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/layout.css}" />
    <script type="text/javascript" th:src="@{/script.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script th:src="@{/flexslider/jquery.flexslider.js}"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function() {
            $('.flexslider').flexslider();
        });
    </script>
    <style type="text/css">
        .flex-caption {
            width: 96%;
            padding: 2%;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.5);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0,0,0,.3);
            font-size: 14px;
            line-height: 18px;
        }
    </style>
</head>
<body>
<div id="container">
    <div id="header">
        <p><a th:href="@{/}" class="title">
            <span class="header_text">Entertainment Everyday</span>
        </a></p><br />
        <ul id="nav">
            <li><a class="active" href="main.html">Home</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">TV &amp; Movies</a>
                <div class="dropdown-content">
                    <a href="#">TV Shows</a>
                    <a href="#">Movies</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Food &amp; Drinks</a>
                <div class="dropdown-content">
                    <a href="#">Food</a>
                    <a href="#">Drinks</a>
                    <a href="#">Quick Recipes</a>
                    <a href="#">Health</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Video &amp; Gaming</a>
                <div class="dropdown-content">
                    <a href="#">Viral Videos</a>
                    <a href="#">Gaming</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Books</a>
                <div class="dropdown-content">
                    <a href="#">Best Sellers</a>
                    <a href="#">Top</a>
                </div>
            </li>
        </ul>
        <div class="slider">
            <div align="center"><div class="flexslider">
                <ul class="slides">
                    <li th:each="sliderArticle : ${sliderArticles}">
                        <a th:href="@{'/article/' + ${sliderArticle.shortTitledId}}">
                            <img th:src="${sliderArticle.mainImageUrl}" alt="Slider image" />
                        </a>
                        <a th:href="@{'/article/' + ${sliderArticle.shortTitledId}}">
                            <p class="flex-caption" th:text="${sliderArticle.title}"></p>
                        </a>
                    </li>
                </ul>
            </div></div>
        </div>
    </div>
    <div id="navigator">
        <form name="loginForm" onsubmit="return validateLoginForm();" th:action="@{/}">
            <span class="signin_text">Email:</span><br />
            <input type="text" name="email" /><br />
            <span class="signin_text">Password:</span><br />
            <input type="password" name="password" /><br />
            <input type="submit" value="SIGN IN" /><br />
        </form><br />
        <a class="signup_text" href="#register">Don't have an account? Sign up!</a><br />
        <p id="message"></p>
        <div id="register" class="overlay">
            <div class="popup">
                <h2 align="center">Sign up</h2><br />
                <a class="close" href="#">&times;</a>
                <div class="content" align="center">
                    <form name="registerForm" onsubmit="return validateRegisterForm();">
                        <span class="signin_text">Email:</span><br />
                        <input type="text" name="email" /><br />
                        <span class="signin_text">Password:</span><br />
                        <input type="password" name="password" /><br />
                        <span class="signin_text">Re-enter your password:</span><br />
                        <input type="password" name="reentered" /><br /><br />
                        <input type="submit" value="SIGN UP" />
                    </form><br />
                    <p id="error"></p>
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <h2><span class="spaced_text">This might be interesting!</span></h2><br /><br />
        <div th:each="article : ${articles}" class="inside_content">
            <h4 th:text="${article.title}"></h4><br />
            <p th:utext="${article.articleExtract}" th:remove="tag"></p><br /><br />
            <div align="right">
                <a class="read_full" th:href="@{'/article/' + ${article.shortTitledId}}">
                    Read full article
                </a>
            </div>
            <p class="author_date_categories">
                Author: <span th:text="${article.authorName}" /><br />
                Date: <span th:text="${article.publicationDate}" /><br />
                Category: <span th:text="${article.categoryName}" /><br />
            </p>
        </div>
    </div>
    <div id="footer">Sergey Kim, CSSE-135R</div>
</div>
</body>
</html>