<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entertainment Everyday | Home</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/layout.css}" />
    <link rel="stylesheet" th:href="@{/flexslider/flexslider.css}" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <script th:src="@{/flexslider/jquery.flexslider.js}"></script>

    <script type="text/javascript">
        $(window).load(function() {
            $('.flexslider').flexslider();
        });
    </script>

    <style type="text/css">
        .flex-caption {
            width: 96%;
            padding: 2%;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,.5);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0,0,0,.3);
            font-size: 14px;
            line-height: 18px;
        }
    </style>
</head>
<body>
<div id="container">
    <div id="header">
        <a th:href="@{/}" class="title">
            <span class="header-text">Entertainment Everyday</span>
        </a><br />

        <div th:include="base :: menu"></div>

        <div class="slider">
            <div align="center">
                <div class="flexslider">
                    <ul class="slides">
                        <li th:each="article : ${sliderArticles}">
                            <a th:href="@{'/article/' + ${article.shortTitledId}}">
                                <img th:src="${article.mainImageUrl}" alt="SLIDER IMAGE" />
                            </a>
                            <a th:href="@{'/article/' + ${article.shortTitledId}}">
                                <p th:text="${article.title}" class="flex-caption"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div th:each="article : ${articles}" class="inside-content">
            <h4 th:text="${article.title}"></h4><br />

            <p th:text="${article.articleExtract}"></p><br /><br />

            <div align="right">
                <a th:href="@{'/article/' + ${article.shortTitledId}}" class="read-full">
                    Read full article
                </a>
            </div>

            <p class="author-date-categories">
                Author: <span th:text="${article.authorName}"></span><br />
                Date: <span th:text="${article.publicationDate}"></span><br />
                Category: <span th:text="${article.categoryName}"></span><br />
            </p>
        </div>
    </div>

    <div th:include="base :: footer"></div>
</div>
</body>
</html>