<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Entertainment Everyday | Admin</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/layout.css}"/>
    <script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body>
<div id="container">
    <div id="header">
        <p><a th:href="@{/}" class="title">
            <span class="header_text">Entertainment Everyday</span>
        </a></p><br/>
    </div>
    <div id="admincontent">
        <br/><br/><h1 align="center">Add New Article</h1><br/><br/>
        <div align="right"><b>Author: </b>Sadie Stein</div><br/><br/>

    </div>
    <div id="footer">Sergey Kim, CSSE-135R</div>
</div>
</body>
</html>