<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Not Found</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/layout.css}" />
    <script type="text/javascript" th:src="@{/script.js}"></script>
</head>
<body>
<div id="container" style="padding-left:20%;padding-right:20%;border:none;">
    <div id="header" style="border:none;background:none;color:black">
        <div align="center">
            <p><a th:href="@{/}" class="title">
                <span class="header_text">Entertainment Everyday</span>
            </a></p><br />
            <h3>Sorry, but requested page is not found.</h3>
            <p>Go to <a th:href="@{/}">home</a> page.</p>
        </div>
    </div>
</div>
</body>
</html>